/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2016, 10:28:31 AM
    Author     : Jake Langreck
*/

body {
    background-color: #D2B48C;
}


h1 {
    text-align: center;
}

a{
    margin-left: 45%;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    width: 20%;
    margin-left: 38%;
    background-color: #F08080;
    padding: 30px;
}

form label{
    float: left;
    color: white;
    
}

form input {
    float: right;
}

#left input {
    float: left;
}

#right input {
    float: right;
}

td a {
    margin-left: 0%;
}

table, th, td {
    border-collapse: collapse;
    margin-left: 10%;
    padding: 10px;
}

table, th, td {
   border: 3px solid #FFFFFF;
}

table {
    width: 80%;
}

th {
    height: 70px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFF99;
    color: black;
}

tr {
        background-color: #F08080;
}

td {
    height: 50px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}

tr:hover {
    background-color: #CCCCCC;
    color:#FFFFFF;
}

tr:nth-child(even) {background-color: #696969;
                    color: #FFFFFF;
}

tr:nth-child(even):hover {background-color: #CCCCCC;
                          color: #FFFFFF;
    
}